[data-md-color-scheme="alberti"] {
  --md-primary-fg-color:        #F56C7F;
  --md-primary-fg-color--light: #F56C7F;
  --md-primary-fg-color--dark:  #F56C7F;
}

[data-md-color-scheme="alberti"] .only-dark {
  display: none;
}

[data-md-color-scheme="slate"] .only-light {
  display: none;
}